<h3>新規スタッフ登録ページ</h3>

<%= form_tag(new_staff_path, :method => "get") do %>
	<%= text_field_tag :search, "", class: "serch-form", placeholder: "店舗コードを入力" %>
	<%= button_tag :type => "submit", class: "btn", :name => nil do %>
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	<% end %>
<% end %>



<% if @store.present? %>
	<label>店舗名：　</label><%= @store.name %>
	<%= form_for(@store, url: staffs_path, method: :post) do |f| %>
		<%= f.hidden_field :uuid %>
		<%= f.submit "申請を送る" %>
	<% end %>
<% else %>
	<p>コードを入力しなおしてください</p>
<% end %>