<% if @access_staff.is_admin == true %>
	<%= form_for(@staff) do |f| %>
		<div class = "row mt-1">
			<div class = "col-3">
				<label>店舗名</label>
			</div>
			<div class = "col-3">
				<%= @staff.store.name %>
			</div>
			<div class = "col"></div>
		</div>

		<div class = "row mt-1">
			<div class = "col-3">
				<label>名前</label>
			</div>
			<div class = "col-3">
				<%= @staff.user.last_name + "　" + @staff.user.first_name %>
			</div>
			<div class = "col"></div>
		</div>

		<div class = "row mt-1">
			<div class = "col-3">
				<lavel>電話番号</lavel>
			</div>
			<div class = "col-3">
				<%= @staff.user.telephone_number %>
			</div>
			<div class = "col"></div>
		</div>


		<div class = "row mt-1">
			<div class = "col-3">
				<label>時給</label>
			</div>
			<div class = "col-7">
				<%= f.text_field :hourly_pay %>円
			</div>
			<div class = "col"></div>
		</div>

		<div class = "row mt-1">
			<div class = "col-3">
				<label>交通費</label>
			</div>
			<div class = "col-7">
				<%= f.text_field :transportation_expenses %>円
			</div>
			<div class = "col"></div>
		</div>


		<% if @staff.is_permitted_status != true %>
			<label>連携承認</label>
			<%= link_to "承認する", staff_permit_path(params: {id: @staff.id}), method: :patch, class: "btn btn-info" %>
			<%= link_to "退会させる", staff_unsubscribe_path(params: {id: @staff.id}), method: :patch, data: { confirm: '本当に退会させますか？' }, class: "btn btn-danger" %>

		<% else %>
			<div class = "row mt-1">
				<div class = "col-3">
					<label>管理者権限</label>
				</div>
				<div class = "col-7">
					<% if @staff.user.id == @staff.store.creator_id %>
						<p>店舗作成者</p>
					<% else %>
						<%= f.radio_button :is_admin, true %><lavel>あり</lavel>
						<%= f.radio_button :is_admin, false %><label>なし</label>
					<% end %>
				</div>
				<div class = "col"></div>
			</div>

			<div class = "row mt-1">
				<div class = "col-3">
					<label>タスク</label>
				</div>
				<div class = "col-7">
					<%= link_to "割り当て", staff_assign_task_path(id: @staff.id), remote: true %>
				</div>
				<div class = "col"></div>
			</div>

			<div class = "row mt-1">
				<div class = "col-3">
					<label>ラベル</label>
				</div>
				<div class = "col">
					<div class = "first_display">
						<% if @label_position.present? %>
							<% @label_position.each do |label| %>
								<span class="badge badge-primary mb-1 staff-label">
									<%= label.name %>
								</span>
						    <% end %><br>
						<% end %>

						<% if @label_ability.present? %>
						    <% @label_ability.each do |label| %>
								<span class="badge badge-info mb-1 staff-label">
									<%= label.name %>
								</span>
						    <% end %><br>
						<% end %>

						<% if @label_rank.present? %>
						    <% @label_rank.each do |label| %>
								<span class="badge badge-success mb-1 staff-label">
									<%= label.name %>
								</span>
						    <% end %><br>
						<% end %>

					    <% if @label_other.present? %>
						    <% @label_other.each do |label| %>
								<span class="badge badge-secondary mb-1 staff-label">
									<%= label.name %>
								</span>
						    <% end %>
					    <% end %>
					</div>
					<button class = "change_display_buttun first_display btn btn-outline-secondary" type="button">編集</button>
				</div>
			</div>



		    <div class = "second_display mt-1" style = "display: none;">
		    	<span class="badge badge-success mb-1">ポジション</span><br>
	    		<%= f.collection_check_boxes :select_label_ids, @all_labels_position, :id, :name, {include_hidden: false} do |b| %>
	    			<% if StaffLabel.find_by(staff_id: @staff.id, label_id: b.value).present? %>
	    				<%= b.label { b.check_box(checked: true) + b.text + "　"} %>
	    			<% else %>
	    				<%= b.label { b.check_box + b.text + "　"} %>
	    			<% end %>
	    		<% end %><br>

	    		<span class="badge badge-success mb-1">能力</span><br>
	    		<%= f.collection_check_boxes :select_label_ids, @all_labels_ability, :id, :name, {include_hidden: false} do |b| %>
	    			<% if StaffLabel.find_by(staff_id: @staff.id, label_id: b.value).present? %>
	    				<%= b.label { b.check_box(checked: true) + b.text + "　"} %>
	    			<% else %>
	    				<%= b.label { b.check_box + b.text + "　"} %>
	    			<% end %>
	    		<% end %><br>

	    		<span class="badge badge-success mb-1">ランク</span><br>
	    		<%= f.collection_check_boxes :select_label_ids, @all_labels_rank, :id, :name, {include_hidden: false} do |b| %>
	    			<% if StaffLabel.find_by(staff_id: @staff.id, label_id: b.value).present? %>
	    				<%= b.label { b.check_box(checked: true) + b.text + "　"} %>
	    			<% else %>
	    				<%= b.label { b.check_box + b.text + "　"} %>
	    			<% end %>
	    		<% end %><br>

	    		<span class="badge badge-success mb-1">その他</span><br>
	    		<%= f.collection_check_boxes :select_label_ids, @all_labels_other, :id, :name, {include_hidden: false} do |b| %>
	    			<% if StaffLabel.find_by(staff_id: @staff.id, label_id: b.value).present? %>
	    				<%= b.label { b.check_box(checked: true) + b.text + "　"} %>
	    			<% else %>
	    				<%= b.label { b.check_box + b.text + "　"} %>
	    			<% end %>
	    		<% end %><br>
		    </div>
		    <br>


			<%= f.submit "保存する", class: "btn btn-primary" %>
			<%= link_to "退会させる", staff_unsubscribe_path(params: {id: @staff.id}), method: :patch, data: { confirm: '本当に退会させますか？' }, class: "btn btn-outline-danger" %>
		<% end %>
		<br><br>
		<%= link_to "スタッフ一覧へ", staffs_path %>
	<% end %>
	<div id = "staff_assign_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% else %>
	<p>編集権限がありません。</p>
	<label>店舗名</label><%= @staff.store.name %><br>
	<label>名前</label><%= @staff.user.last_name + @staff.user.first_name %><br>
	<lavel>電話番号</lavel><%= @staff.user.telephone_number %><br>
	<% if @staff.hourly_pay.present? %>
		<label>時給</label><%= @staff.hourly_pay %>円<br>
	<% end %>
	<% if @staff.transportation_expenses.present? %>
		<label>交通費</label><%= @staff.transportation_expenses %>円<br>
	<% end %>
<% end %>