
<div class="content-<%= message.id %>">

</div>

<script>
  var message_user = <%= message.user.id %>;
  var current_user = $(".message-box").attr("id");
  if(message_user == current_user){
      $(".content-<%= message.id %>").html("<%= j(render("messages/my_message", message: message)) %>");
  }else{
      $(".content-<%= message.id %>").html("<%= j(render("messages/other_message", message: message)) %>");
  }
</script>

