<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title">
            詳細
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%= form_for(user_task) do |f| %>
        <div class="modal-body">
            <table class="table table-borderless">
                <tr>
                    <td>タイトル</td>
                    <td><%= task.title %></td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td><%= task.content %></td>
                </tr>
                <tr>
                    <td>公開/非公開</td>
                    <td>
                        <% if task.is_announced == true %>
                            公開
                        <% else %>
                            非公開
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>作成者</td>
                    <td>
                        <% user = User.find(task.creator_id) %>
                        <%= user.last_name %>
                    </td>
                </tr>
                <tr>
                    <td>最終更新日</td>
                    <td><%= task.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
                </tr>
            </table>

            <h5>割り当てる人を選択する</h5>
            <%= f.collection_check_boxes :assign_task_ids, users, :id, :last_name, {include_hidden: false} do |b| %>
                <%= b.label { b.check_box + b.text } %>
            <% end %>

            <%= f.hidden_field :task_id, :value => task.id %>
        </div>
        <div class="modal-footer actions">
            <%= f.submit "タスクを割り当てる", class: "btn btn-outline-success" %>
            <%= link_to "編集", edit_task_path(task), remote: true, class: "btn btn-primary" %>
        </div>
    <% end %>

  </div>
</div>