

<div class = "row" style = "margin-top: 10px;">
	<div class = "col-4">
		<h2>タスク一覧</h2>
	</div>
	<div class = "col-4 text-right">
		<%= link_to "新規タスクの作成", new_task_path, remote: true, class: "btn btn-primary" %>
	</div>
	<div class = "col-4 text-right">
		<%= link_to "過去割り当てタスク", past_assign_user_tasks_path, class: "btn btn-outline-secondary" %>
	</div>
</div>

<div class = "task">
	<table class = "table" id = "add_task" style="table-layout:fixed;">
		<tr>
			<th style = "width: 30%">タイトル</th>
			<th style = "width: 30%">内容</th>
			<th style = "width: 20%">公/非</th>
			<th style = "width: 20%"></th>
		</tr>

		<% @tasks.each do |task| %>
			<tr>
				<td><%= link_to task.title, admin_task_path(task), remote: true %></td>
				<td><%= task.content %></td>
				<td>
					<% if task.is_announced == true %>
						<label>公</label>
					<% else %>
						<label>非</label>
					<% end %>
				</td>
				<td><%= task.updated_at.strftime("%m/%d") %></td>
			</tr>
		<% end %>
	</table>
</div>
<br>
<%= link_to "店舗詳細へ", store_path(current_user.selected_store) %>

<div id = "task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id = "task_show_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id = "assign_task_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
