<div class="modal-dialog">
  <div class="modal-content">
    <% if store.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(store.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% store.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if store.blank? %>
        <%= form_for(store, remote: true) do |f| %>
            <div class="modal-header">
                <h5 class="modal-title">新規店舗登録</h5>
                <!-- <h5 class="modal-title">店舗名編集</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group field">
                    <p><lavel>名前</lavel><%= f.text_field :name %></p>
                </div>
            </div>
            <div class="modal-footer actions">
                <%= f.submit "登録", class: "btn btn-primary" %>
                    <%= f.submit "保存", class: "btn btn-primary"%>
                    <%= link_to "削除", store_path(store), method: :delete, "data-confirm" => "復元することができなくなります。削除してよろしいですか？", class: "btn btn-danger " %>
            </div>
        <% end %>
    <% else %>
        <%= form_for(store) do |f| %>
            <div class="modal-header">
                <h5 class="modal-title">店舗名編集</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group field">
                    <p><lavel>名前</lavel><%= f.text_field :name %></p>
                </div>
            </div>
            <div class="modal-footer actions">
                <%= f.submit "保存", class: "btn btn-primary"%>
                <%= link_to "削除", store_path(store), method: :delete, data: { confirm: '復元することができなくなります。削除してよろしいですか？' }, class: "btn btn-danger" %>

                <%#= link_to "削除", submitted_shift_path(shift.id),method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
            </div>
        <% end %>
    <% end %>

  </div>
</div>