<div class = "row">
	<div class = "col-10">
		<h4>ラベル一覧</h4>
	</div>
	<div class = "col-2 text-right">
		<%= link_to new_label_path, class: "btn btn-outline-primary", remote: true do %>
			<i class="fas fa-plus"></i>
		<% end %>
	</div>
</div>

<div class = "task">
	<table class = "table table-reflow" style="table-layout:fixed;">
		<tr id = "add_label">
			<th style = "width: 25%">ラベル名</th>
			<th style = "width: 25%">タイプ</th>
			<th style = "width: 25%">内容</th>
			<th style = "width: 25%"></th>
		</tr>
		<% @labels.each do |label| %>
			<tr>
				<td><%= link_to label.name, label_path(label), remote: true %></td>
				<td><%= label.work_type_i18n %></td>
				<td><%= label.content %></td>
				<td><%= link_to "削除", label_path(label), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger" %></td>
			</tr>
		<% end %>
	</table>
</div>
<br>
<%= link_to "戻る", store_path(current_user.selected_store) %>

<div id = "label_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id = "label_show_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
