<h3>ユーザー詳細ページ</h3>

<%= render "devise/shared/error_messages", resource: @user %>

<%= form_for(@user) do |f| %>
	<lavel>姓</lavel>
	<%= f.text_field :last_name %>

	<lavel>名</lavel>
	<%= f.text_field :first_name %><br>

	<lavel>セイ</lavel>
	<%= f.text_field :kana_last_name %>

	<lavel>カナ</lavel>
	<%= f.text_field :kana_first_name %><br>

	<label>性別</label>
	<%= f.radio_button :sex, :men %><lavel>男</lavel>
	<%= f.radio_button :sex, :women %><lavel>女</lavel>
	<%= f.radio_button :sex, :other %><lavel>その他</lavel><br>

	<label>電話番号</label>
	<%= f.text_field :telephone_number %><br>

	<!-- <label>プロフィール画像</label> -->
	<%# f.attachment_field :profile_image %><br>

	<%= f.submit "保存する", class: "btn btn-success" %>


<% end %>
<br>
<%= link_to "退会する", unsubscribe_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class: "btn btn-info" %>