<% if current_user.selected_store.blank? %>
	<h2><%= link_to @schedule_title, home_path %>スケジュール</h2>
<% else %>
	<h2><%= link_to @schedule_title, store_path(@store.id) %>スケジュール</h2>
<% end %>


<% if Staff.find_by(user_id: current_user.id, store_id: current_user.selected_store, is_admin: true) %>
	<%= link_to "シフト管理", draft_shifts_path(start_date: @date), class: "btn btn-info" %>
<% end %>


<%= month_calendar(attribute: :start_time, events: @events) do |date, events| %>
	<%# link_to date.day, new_submitted_shift_path(start_date: date), remote: true %>
	<%= date.day %>

	<%# ajaxでシフト作成ができる %>
	<%= link_to "+", new_private_schedule_path(date: date), remote: true %>
	<%# attribute: :dateで勝手にやってくれる %>
    <div id="private-schedule-<%= date %>">
        <% events.each do |event| %>
        	<% if event.shedule_status == true %>
            	<%= render 'private_schedules/private_schedule', private_schedule: event %>
            <% else %>
            	<%= event.title %><br>
            <% end %>

        <% end %>
    </div>
<% end %>

<div id="shift-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id = "submitted_shift_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="private-schedule-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

