<% if current_user.selected_store.blank? %>
	<h2><%= link_to @schedule_title, home_path %>スケジュール</h2>
<% else %>
	<h2><%= link_to @schedule_title, store_path(@store.id) %>スケジュール</h2>

	<% if Staff.find_by(user_id: current_user.id, store_id: current_user.selected_store, is_admin: true) %>
		<%= link_to "シフト管理", draft_shifts_path(start_date: @date), class: "btn btn-info" %>
	<% end %>


	<%= month_calendar(attribute: :start_time, events: @events) do |date, events| %>
		<%= link_to date.day, new_submitted_shift_path(start_date: date), remote: true %>
		<div id = "submitted_shift_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

		<div id="draft-shift-<%= date %>">
			<% events.each do |event| %>
				<%= event.title %>

				<div id="shift-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
	  		<% end %>
	  	</div>

	<% end %>
<% end %>

