<h3><%= @date %>のシフト</h3>
<%= link_to "前日", daily_draft_shifts_path(start_date: @date.to_date.yesterday) %>
<%= link_to "翌日", daily_draft_shifts_path(start_date: @date.to_date.tomorrow) %>
<br>
<%= link_to "カレンダーへ", draft_shifts_path(start_date: params[:start_date]) %>
<br><br>

<%= link_to "提出済みシフト", show_submitted_shifts_path(start_date: @date.to_date), remote: true %>
<div id="show-submitted-shift-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<br>

<div class = "row" style = "margin-top: 50px;">
	<div class = "col">
		<h5>シフト下書き</h5>
	</div>
	<div class = "col">
		<%= link_to "シフトの確定", decided_shifts_path(start_date: @date), method: :post, data: { confirm: 'シフトを確定しますか？' }, class: "btn btn-primary" %>
	</div>
</div>
<br>
<div class = "draft_index">
	<div class = "row">
			<div class = "col-2">氏名</div>
			<div class = "col">開始時間</div>
			<div class = "col">終了時間</div>
			<div class = "col-2"></div>
			<div class = "col-2"></div>
	</div>
	<% @draft_shifts.each do |draft_shift| %>
		<%= form_for(draft_shift, url: draft_shift_path(draft_shift.id)) do |f| %>
			<div class = "row">
				<div class="col-2">
					<% if draft_shift.user_id == 0 %>
						<%= f.collection_select :user_id, @users, :id, :last_name %>
					<% else %>
						<%= link_to draft_shift.user.last_name, staff_path(Staff.find_by(user_id: draft_shift.user_id, store_id: draft_shift.store_id)) %>
					<% end %>
				</div>
				<div class="col"><%= f.time_select :start_time %></div>
				<div class="col"><%= f.time_select :end_time %></div>
				<div class="col-2"><%= f.submit "更新", class: "btn btn-info" %></div>
				<div class="col-2"><%= link_to "削除", draft_shift_path(draft_shift), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn btn-danger"%></div>
			</div>
		<% end %>
		<br>
	<% end %>

	<%= form_for(@draft_shift) do |f| %>
		<%= f.hidden_field :store_id, :value => @store.id %>
		
		<div class = "row">
			<div class = "col-2"><%= f.collection_select :user_id, @users, :id, :last_name %></div>
			<div class = "col"><%= f.time_select :start_time %></div>
			<div class = "col"><%= f.time_select :end_time %></div>
			<div class = "col-2"><%= f.submit "追加", class: "btn btn-success" %></div>
			<div class = "col-2"></div>
		</div>
	<% end %>
</div>

<% if @decided_shifts.present? %>
	<h5 style = "margin-top: 50px;">確定済みシフト</h5>
	<div class = "row">
		<table class = "table">
			<thead class = "thead-light">
				<tr>
					<th>氏名</th>
					<th>開始時間</th>
					<th>~</th>
					<th>終了時間</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<% @decided_shifts.each do |decided_shift| %>
					<tr>
						<td>
							<% if decided_shift.user_id == 0 %>
								<%= decided_shift.user.last_name %>
							<% else %>
								<%= link_to decided_shift.user.last_name, staff_path(Staff.find_by(user_id: decided_shift.user_id, store_id: decided_shift.store_id)) %>
							<% end %>
						</td>
						<td><%= decided_shift.start_time.strftime("%H:%M") %></td>
						<td>~</td>
						<td><%= decided_shift.end_time.strftime("%H:%M") %></td>
						<td><%= link_to "編集", edit_decided_shift_path(decided_shift), remote: true %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>
<div id="shift-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

