<h3><%= @date %>のシフト</h3>
<%= link_to "前日", daily_draft_shifts_path(start_date: @date.to_date.yesterday) %>
<%= link_to "翌日", daily_draft_shifts_path(start_date: @date.to_date.tomorrow) %>
<br>
<%= link_to "戻る", draft_shifts_path(start_date: params[:start_date]) %>
<br>
<p>提出済みシフト</p>
<% @submitted_shifts.each do |submitted_shift| %>
	<%= submitted_shift.user.last_name %>
	<%= submitted_shift.start_time.strftime("%H:%M") + "~" + submitted_shift.end_time.strftime("%H:%M") %><br>
<% end %>


<p>下書きシフト</p>
<% @draft_shifts.each do |draft_shift| %>
	<%= form_for(draft_shift) do |f| %>
		<%= draft_shift.user.last_name %>
		<%= f.time_select :start_time %><br>
		~
		<%= f.time_select :end_time %><br>
		<%= f.submit "更新" %>
	<% end %>
	<%= link_to "削除", draft_shift_path(draft_shift), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn"%>
<% end %>


<p>下書きの追加</p>
<%= form_for(@draft_shift) do |f| %>
	<label>氏名</label><%= f.collection_select :user_id, @users, :id, :last_name %><br>
    <%= f.time_select :start_time %><br>
    ~
	<%= f.time_select :end_time %>

	<%= f.hidden_field :store_id, :value => @store.id %>
	<%= f.submit "追加" %>
<% end %>