<%= month_calendar(events: @events) do |date, events| %>

	<%= link_to date.day, daily_draft_shifts_path(start_date: date) %>

	<div id="schedule-<%= date %>">
		<% if events.present? %>
	    	<% if events.select {|a| a[:shedule_status] == false}.present? %>
	        	<lavbel style = "color: red;">未確定</lavbel>
	        <% elsif events.select {|a| a[:shedule_status] == true}.present? %>
	        	 <lavbel>確定</lavbel>
	        <% end %>
	    <% end %>
    </div>

<% end %>

<div class = "row">
	<div class = "col">
		<%= link_to "一括でシフト確定", create_all_decided_shifts_path(start_date: params[:start_date]), method: :post,  data: { confirm: 'シフトを一括確定してよろしいですか？' }, class: "btn btn-primary" %>
	</div>
	<div class = "col text-right">
		<%= link_to "シフト登録へ戻る", home_path(start_date: params[:start_date]) %>
	</div>
</div>
