<%= form_for(@room, url: rooms_path) do |f| %>
    <% if @room.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
            <% @room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <h4>ルーム名</h4>
    <%= f.text_field :name %>
    <h4>メモ</h4>
    <%= f.text_area :memo %>
    <h4>ユーザー</h4>
    <%= f.collection_check_boxes :user_ids, @users.all, :id, :full_name do |user| %>
        <%= user.label { user.check_box + user.text }%>
    <%end%>
    <%= f.submit "登録", class: "btn btn-primary"%>
<% end %>