<!DOCTYPE html>
<html>
  <head>
    <title>SkyShift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>
    <% if user_signed_in? %>
      <div class="overlay"></div>

      <header>
        <nav id = "title-bar" class="navbar fixed-top navbar-expand-lg shadow-sm">
          <button id="sidebarCollapse" type="button" class="btn btn-primary">
              <i class="fas fa-align-left"></i>
          </button>

          <div class="container-fluid">
            <div class = "container">
              <div class = "row">
                <div class = "col-2">
                </div>
                <div class = "col-8 text-center">
                  <div class="btn-group">
                    <h1 class = "title"><%= @title %>
                      <% if request.fullpath.match("/home").present? %>
                        <%= "　" %>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split store_select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <%= link_to "private", change_selected_store_path, method: :patch, class: "dropdown-item" %>
                          <div class="dropdown-divider"></div>
                          <% @stores.each do |store| %>
                            <%= link_to store.name, change_selected_store_path(id: store.id), method: :patch, class: "dropdown-item" %>
                          <% end %>
                        </div>
                      <% end %>
                    </h1>
                  </div>
                </div>
                <div class = "col-2"></div>
              </div>
            </div>
          </div>
        </nav>

        <nav id="sidebar">

            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3><%= link_to "  SKY Shift", home_path, class: "fab fa-cloudsmith" %></h3>
            </div>

            <ul class="list-unstyled components">
              <li><%= link_to "  登録情報", user_path(current_user.id), class: "fas fa-user" %></li>
              <li><%= link_to "  新規連携申請", new_staff_path, class: "fas fa-paper-plane" %></li>
              <li><%= link_to "  ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
            </ul>

          <ul class="list-unstyled components" id="stores">
              <li><%= link_to " private", change_selected_store_path, method: :patch, class: "fas fa-home" %></li>
              <% @stores.each do |store| %>
                <li>
                    <%= link_to store.name, change_selected_store_path(id: store.id), method: :patch %>
                </li>
              <% end %>
          </ul>

          <%= link_to new_store_path, remote: true do %>
            <div class="new_store" style="text-align:center;">
              <i class="fas fa-plus"></i>
            </div>
          <% end %>
          <div id="store-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        </nav>
      </header>

      <main>
        <div class="container">
          <!-- フラッシュメッセージの表示 -->
            <% if flash[:notice] %>
              <script type="text/javascript">
                  toastr.success("<%= flash[:notice] %>")
              </script>
            <% end %>
            <% if flash[:error] %>
              <script type="text/javascript">
                  toastr.error("<%= flash[:error] %>")
              </script>
            <% end %>

          <%= yield %>
        </div>
      </main>


      <footer>
        <ul class="nav fixed-bottom nav-pills nav-justified">
          <li class="nav-item">
            <%= link_to(change_selected_store_path, method: :patch, class: "nav-link", id: "calendar-link") do %>
              <i class="fas fa-calendar"></i>
            <% end %>
          </li>

          <li class="nav-item">
            <% if current_user.selected_store.present? %>
              <%= link_to(rooms_path, class: "nav-link", id: "message-link") do %>
                <i class="fas fa-envelope"></i>
              <% end %>
            <% else %>
              <%= link_to(select_store_rooms_path, class: "nav-link", id: "message-link") do %>
                <i class="fas fa-envelope"></i>
              <% end %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to(user_tasks_path, class: "nav-link", id: "task-link") do %>
              <i class="fas fa-file"></i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to(configurations_path, class: "nav-link", id: "task-link") do %>
              <i class="fas fa-cogs"></i>
            <% end %>
          </li>
        </ul>
      </footer>

    <%else%>
      <div class = "top">
        <main>
          <div class = "topic">
            <div class="container">
              <% if flash[:notice] %>
                <%= flash[:notice] %>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </main>
      </div>

    <%end%>

  </body>
</html>
