<!DOCTYPE html>
<html>
  <head>
    <title>SkyShift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <% if user_signed_in? %>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">

          <div id="dismiss">
              <i class="fas fa-arrow-left"></i>
          </div>
          
          <div class="sidebar-header">
              <h3><%= link_to "SKY SCHEDULER", home_path %></h3>
          </div>

          <ul class="list-unstyled components">
            <li><%= link_to "登録情報", user_path(current_user.id) %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "新規店舗連携申請", new_staff_path %></li>
          </ul>

        <ul class="list-unstyled components" id="stores">
            <% @stores.each do |store| %>
              <li>
                  <%= link_to store.name, change_selected_store_path(store.id), method: :patch %>
              </li>
            <% end %>
        </ul>
        <%= link_to new_store_path, remote: true do %>
          <div class="new_store" style="text-align:center;">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
        <div id="store-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </nav>
    <div class="overlay"></div>
    <!-- Page Content -->
    <div id="content">
          <nav class="navbar fixed-top navbar-expand-lg">
              <div class="container-fluid">

                  <button type="button" id="sidebarCollapse" class="btn btn-info">
                      <i class="fas fa-align-left"></i>
                      
                  </button>
              </div>
          </nav>
      
    </div>

    <body>
      
      <div class="container">
      <!-- フラッシュメッセージの表示 -->
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
        <%= yield %>
      </div>
    </body>

    <ul class="nav fixed-bottom nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href=""><i class="fas fa-calendar"></i></a>
      </li>
      <li class="nav-item">
        <%= link_to(rooms_path, class: "nav-link") do %>
          <i class="fas fa-envelope"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><i class="fas fa-file"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><i class="fas fa-cogs"></i></a>
      </li>
    </ul>

  <%else%>

    <body>
      <!-- フラッシュメッセージの表示 -->
      <div class="container">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
        <%= yield %>
      </div>
    </body>


  <%end%>

  

</html>
