<h2>周知事項</h2>

<div class = announcement>
	<table class = "table table-reflow" style="table-layout:fixed;">
		<% @public_tasks.each do |public_task| %>
			<tr>
				<td style = "width: 25%"><%= public_task.store.name %></td>
				<td style = "width: 30%"><%= link_to public_task.title, task_path(public_task.id), remote: true %></td>
				<td style = "width: 30%"><%= public_task.content %></td>
				<td style = "width: 15%"><%= public_task.created_at.strftime("%m/%d") %></td>
			</tr>
		<% end %>
	</table>
</div>
<div class = "row" style = "margin-top: 30px;">
	<div class = "col-5">
		<h2>個人タスク</h2>
	</div>
	<div class = "col-7 text-right">
		<%= link_to "過去の完了タスク一覧", past_user_tasks_path, class: "btn btn-outline-primary" %>
	</div>
</div>

<div class = "private-task">
	<table class = "table" style="table-layout:fixed;">
		<% @user_tasks.each do |user_task| %>
			<tr>
				<td style = "width: 25%">
					<% store = Store.find(user_task.task.store.id) %>
					<%= store.name %>
				</td>
				<td style = "width: 30%"><%= link_to user_task.task.title, task_path(user_task.task.id), remote: true %></td>
				<td style = "width: 30%"><%= user_task.task.content %></td>
				<td style = "width: 15%"><%= user_task.created_at.strftime("%m/%d") %></td>
			</tr>
		<% end %>
	</table>
</div>


<div id = "task_show_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>